/* ==========================================================================
   Slicknav Extensions
   ========================================================================== */

//
// Slicknav - responsive Navigation
// 
// Das Standard Menü bekommt eine ID "menu" und wird in der mobilen Ansicht ($medium) auf visible none gestezt. "Slicknav" wird im gleichen zuge auf Visible block gesetzt und somit eingeblendet. Wenn Logos im menü mit eingebaut werden kann man sie somit auch optimierte Version in der mobilen Ansicht laden.
// 
// markup:
// <nav>
//   <ul class="list-inline" id="menu">
//     <li><a class="link"  href="#">Link 1</a></li>
//     <li><a class="link"  href="#">Link 2</a></li>
//     <li><a class="link"  href="#">Link 3</a></li>
//     <li><a class="link"  href="#">Link 4</a></li>
//   </ul>
// </nav>
// 
// Styleguide 3.1






// Default variables
$slick-bg-color: shade($menu__logo--bg-color,0)!default;
$slick-bt-color: shade($menu__logo--bg-color,30%)!default;
$slick-link-color: shade($menu__logo--bg-color,40%)!default;

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }

// Gibt die Höhe der Linien im menü Icon an.
.slicknav_menu .slicknav_icon-bar { 
    display: block; 
    width: 1.125em; 
    height: 1px; 
    border-radius: 1px; 
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 3px }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
    font-size:$base-font-size;
    position: relative;
}
/* Button */
.slicknav_btn {
    @extend .btn--s;  
    @include button($menu__logo--bg-color);
    margin: emRhythm(2, $ms-down1);
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
 
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: $slick-bt-color;
}
.slicknav_menu {
    background:$slick-bg-color;
    padding: 0 //emRhythm(2, $ms-down1);
}
.slicknav_nav {
    color:$slick-bt-color;
    margin:0;
    padding:0;
    font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_nav ul {
    padding:0;
    margin:0;
    border-top: 1px solid shade($slick-bg-color, 10%);
}
.slicknav_nav .slicknav_row {
    padding:0;
    margin:0;
}
.slicknav_nav a {
    padding:1em;
    margin:0;
    font-family: $font-sans;
    text-decoration:none;
    text-align: left;
    color:$slick-link-color;
    border-top: 1px solid shade($slick-bg-color, 7%);
    background-color: shade($slick-bg-color, 3%);
    @include transition (all 0.8s ease-out);
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
    
}
.slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background:tint($slick-bg-color, 5%);
    color:$slick-bt-color;
}
.slicknav_nav a:hover{
    border-radius: 0;
    background:tint($slick-bg-color, 2%);
    color:$slick-link-color;
    @include transition (all 0.2s ease-in);
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}


.slicknav_menu {
    display:none;
}

@include mq($medium){
    /* #menu is the original menu */
    #menu {
        display:none;
    }
    .slicknav_menu {
        display:block;
    }
}

.logo--responsive {
    position: absolute;
    left: emRhythm(2, $ms-down1);
    top: emRhythm(2, $ms-down1);    
    img {
        height: 2em;
    }   
}