   /* ==========================================================================
   Layout
   ========================================================================== */


.row {
	@include col(1/1);
}

footer {
	position: absolute;
	left: 0;
	z-index: 1;
}