.shariff {
  //width: 10em;
  height: 4.5em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;

      a {
        span {
          display: inline-block;
          width: 3.5em;
          height: 3.5em;
          margin-right: 2em;
        }

        span.fa-facebook {
          background: #777 url("../images/logo-facebook.svg") no-repeat center center;
          &:hover {
            background-color: #4273C8;
          }
        }

        span.fa-twitter {
          background: #777 url("../images/logo-twitter.svg") no-repeat center center;
          &:hover {
            background-color: #32BBF5;
          }
        }

      }
    }
  }
}

.shariff-button {
  .share_text {
    display: none;
  }
}
