@charset "UTF-8";
@font-face {
  font-family: 'GetawaySans';
  src: url("GetawaySans.eot");
  src: url("GetawaySans.eot?#iefix") format("embedded-opentype"), url("GetawaySans.woff2") format("woff2"), url("GetawaySans.woff") format("woff"), url("GetawaySans.ttf") format("truetype"), url("GetawaySans.svg#GetawaySans") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ==========================================================================
   Settings
   ========================================================================== */
/*
   Breakpoints
   ========================================================================== */
/*
   Typesettings
   ========================================================================== */
/*
   Colors
   ========================================================================== */
/*
   Inuitcss
   ========================================================================== */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*------------------------------------*    #BOX-SIZING
\*------------------------------------*/
/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
/*------------------------------------*    #IMAGES
\*------------------------------------*/
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */ }

/**
 * 1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector
 *    to remove the effects.
 * 2. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
.gm-style img,
img[width],
img[height] {
  /* [2] */
  max-width: none; }

/*------------------------------------*    #LIST-INLINE
\*------------------------------------*/
/**
 * The list-inline object simply displays a list of items in one line.
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-inline > li {
    display: inline-block; }

/*------------------------------------*    #SPACING
\*------------------------------------*/
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
     * Margin helper classes.
     *
     * Add margins.
     */
.m {
  margin: 24px !important; }

.mt {
  margin-top: 24px !important; }

.mr {
  margin-right: 24px !important; }

.mb {
  margin-bottom: 24px !important; }

.ml {
  margin-left: 24px !important; }

.mh {
  margin-right: 24px !important;
  margin-left: 24px !important; }

.mv {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

/**
     * Add tiny margins.
     */
.m-- {
  margin: 6px !important; }

.mt-- {
  margin-top: 6px !important; }

.mr-- {
  margin-right: 6px !important; }

.mb-- {
  margin-bottom: 6px !important; }

.ml-- {
  margin-left: 6px !important; }

.mh-- {
  margin-right: 6px !important;
  margin-left: 6px !important; }

.mv-- {
  margin-top: 6px !important;
  margin-bottom: 6px !important; }

/**
     * Add small margins.
     */
.m- {
  margin: 12px !important; }

.mt- {
  margin-top: 12px !important; }

.mr- {
  margin-right: 12px !important; }

.mb- {
  margin-bottom: 12px !important; }

.ml- {
  margin-left: 12px !important; }

.mh- {
  margin-right: 12px !important;
  margin-left: 12px !important; }

.mv- {
  margin-top: 12px !important;
  margin-bottom: 12px !important; }

/**
     * Add large margins.
     */
.m\+ {
  margin: 48px !important; }

.mt\+ {
  margin-top: 48px !important; }

.mr\+ {
  margin-right: 48px !important; }

.mb\+ {
  margin-bottom: 48px !important; }

.ml\+ {
  margin-left: 48px !important; }

.mh\+ {
  margin-right: 48px !important;
  margin-left: 48px !important; }

.mv\+ {
  margin-top: 48px !important;
  margin-bottom: 48px !important; }

/**
     * Add huge margins.
     */
.m\+\+ {
  margin: 96px !important; }

.mt\+\+ {
  margin-top: 96px !important; }

.mr\+\+ {
  margin-right: 96px !important; }

.mb\+\+ {
  margin-bottom: 96px !important; }

.ml\+\+ {
  margin-left: 96px !important; }

.mh\+\+ {
  margin-right: 96px !important;
  margin-left: 96px !important; }

.mv\+\+ {
  margin-top: 96px !important;
  margin-bottom: 96px !important; }

/**
     * Remove margins.
     */
.m0 {
  margin: 0 !important; }

.mt0 {
  margin-top: 0 !important; }

.mr0 {
  margin-right: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mh0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.mv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

/**
     * Negative margins.
     */
.-m {
  margin: -24px !important; }

.-mt {
  margin-top: -24px !important; }

.-mr {
  margin-right: -24px !important; }

.-mb {
  margin-bottom: -24px !important; }

.-ml {
  margin-left: -24px !important; }

.-mh {
  margin-right: -24px !important;
  margin-left: -24px !important; }

.-mv {
  margin-top: -24px !important;
  margin-bottom: -24px !important; }

/**
     * Tiny negative margins.
     */
.-m-- {
  margin: -6px !important; }

.-mt-- {
  margin-top: -6px !important; }

.-mr-- {
  margin-right: -6px !important; }

.-mb-- {
  margin-bottom: -6px !important; }

.-ml-- {
  margin-left: -6px !important; }

.-mh-- {
  margin-right: -6px !important;
  margin-left: -6px !important; }

.-mv-- {
  margin-top: -6px !important;
  margin-bottom: -96px !important; }

/**
     * Small negative margins.
     */
.-m- {
  margin: -12px !important; }

.-mt- {
  margin-top: -12px !important; }

.-mr- {
  margin-right: -12px !important; }

.-mb- {
  margin-bottom: -12px !important; }

.-ml- {
  margin-left: -12px !important; }

.-mh- {
  margin-right: -12px !important;
  margin-left: -12px !important; }

.-mv- {
  margin-top: -12px !important;
  margin-bottom: -12px !important; }

/**
     * Large negative margins.
     */
.-m\+ {
  margin: -48px !important; }

.-mt\+ {
  margin-top: -48px !important; }

.-mr\+ {
  margin-right: -48px !important; }

.-mb\+ {
  margin-bottom: -48px !important; }

.-ml\+ {
  margin-left: -48px !important; }

.-mh\+ {
  margin-right: -48px !important;
  margin-left: -48px !important; }

.-mv\+ {
  margin-top: -48px !important;
  margin-bottom: -48px !important; }

/**
     * Huge negative margins.
     */
.-m\+\+ {
  margin: -96px !important; }

.-mt\+\+ {
  margin-top: -96px !important; }

.-mr\+\+ {
  margin-right: -96px !important; }

.-mb\+\+ {
  margin-bottom: -96px !important; }

.-ml\+\+ {
  margin-left: -96px !important; }

.-mh\+\+ {
  margin-right: -96px !important;
  margin-left: -96px !important; }

.-mv\+\+ {
  margin-top: -96px !important;
  margin-bottom: -96px !important; }

/**
     * Padding helper classes.
     *
     * Add paddings.
     */
.p {
  padding: 24px !important; }

.pt {
  padding-top: 24px !important; }

.pr {
  padding-right: 24px !important; }

.pb {
  padding-bottom: 24px !important; }

.pl {
  padding-left: 24px !important; }

.ph {
  padding-right: 24px !important;
  padding-left: 24px !important; }

.pv {
  padding-top: 24px !important;
  padding-bottom: 24px !important; }

/**
     * Add tiny paddings.
     */
.p-- {
  padding: 6px !important; }

.pt-- {
  padding-top: 6px !important; }

.pr-- {
  padding-right: 6px !important; }

.pb-- {
  padding-bottom: 6px !important; }

.pl-- {
  padding-left: 6px !important; }

.ph-- {
  padding-right: 6px !important;
  padding-left: 6px !important; }

.pv-- {
  padding-top: 6px !important;
  padding-bottom: 6px !important; }

/**
     * Add small paddings.
     */
.p- {
  padding: 12px !important; }

.pt- {
  padding-top: 12px !important; }

.pr- {
  padding-right: 12px !important; }

.pb- {
  padding-bottom: 12px !important; }

.pl- {
  padding-left: 12px !important; }

.ph- {
  padding-right: 12px !important;
  padding-left: 12px !important; }

.pv- {
  padding-top: 12px !important;
  padding-bottom: 12px !important; }

/**
     * Add large paddings.
     */
.p\+ {
  padding: 48px !important; }

.pt\+ {
  padding-top: 48px !important; }

.pr\+ {
  padding-right: 48px !important; }

.pb\+ {
  padding-bottom: 48px !important; }

.pl\+ {
  padding-left: 48px !important; }

.ph\+ {
  padding-right: 48px !important;
  padding-left: 48px !important; }

.pv\+ {
  padding-top: 48px !important;
  padding-bottom: 48px !important; }

/**
     * Add huge paddings.
     */
.p\+\+ {
  padding: 96px !important; }

.pt\+\+ {
  padding-top: 96px !important; }

.pr\+\+ {
  padding-right: 96px !important; }

.pb\+\+ {
  padding-bottom: 96px !important; }

.pl\+\+ {
  padding-left: 96px !important; }

.ph\+\+ {
  padding-right: 96px !important;
  padding-left: 96px !important; }

.pv\+\+ {
  padding-top: 96px !important;
  padding-bottom: 96px !important; }

/**
     * Remove paddings.
     */
.p0 {
  padding: 0 !important; }

.pt0 {
  padding-top: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pl0 {
  padding-left: 0 !important; }

.ph0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

/*------------------------------------*    #PAGE
\*------------------------------------*/
/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
html {
  font-size: 1.125em;
  /* [1] */
  line-height: 1.33333;
  /* [1] */
  background-color: #fff;
  color: #0D0D0D;
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
  -webkit-text-size-adjust: 100%;
  /* [4] */
  -ms-text-size-adjust: 100%;
  /* [4] */
  -moz-osx-font-smoothing: grayscale;
  /* [5] */
  -webkit-font-smoothing: antialiased;
  /* [5] */ }

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
html {
  font-size: 112.5%; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.33333; }

/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none; }

.pswp * {
  box-sizing: border-box; }

.pswp img {
  max-width: none; }

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open {
  display: block; }

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.pswp__container,
.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  transform-origin: left top;
  /* for open/close transition */
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  transition: none; }

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
  will-change: transform; }

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0; }

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden; }

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #222; }

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0; }

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC; }

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline; }

.pswp__share-tooltip {
  border-radius: 0px;
  box-shadow: none !important; }

.pswp__share-tooltip a:first-child {
  border-radius: 0px !important; }

.pswp__share-tooltip a:last-child {
  border-radius: 0px !important; }

a.pswp__share--facebook::before {
  right: 18px !important; }

a.pswp__share--facebook {
  height: 3.5em;
  width: 3.5em;
  background: #777 url("../images/logo-facebook.svg") no-repeat center center; }
  a.pswp__share--facebook:hover {
    background: #4273C8 url("../images/logo-facebook.svg") no-repeat center center !important; }

a.pswp__share--twitter {
  height: 3.5em;
  width: 3.5em;
  background: #777 url("../images/logo-twitter.svg") no-repeat center center; }
  a.pswp__share--twitter:hover {
    background: #32BBF5 url("../images/logo-twitter.svg") no-repeat center center !important; }

a.pswp__share--pinterest {
  height: 3.5em;
  width: 3.5em;
  background: #777 url("../images/logo-pinterest.svg") no-repeat center center; }
  a.pswp__share--pinterest:hover {
    background: #CC2026 url("../images/logo-pinterest.svg") no-repeat center center !important; }

a.pswp__share--facebook::before {
  border-color: transparent transparent #777 !important; }

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/
/*
	
	1. Buttons

 */
/* <button> css reset */
.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  transition: opacity 0.2s;
  box-shadow: none; }

.pswp__button:focus,
.pswp__button:hover {
  opacity: 1; }

.pswp__button:active {
  outline: none;
  opacity: 0.9; }

.pswp__button::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1; }

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px; }

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(default-skin.svg); }
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none; } }

.pswp__button--close {
  background-position: 0 -44px; }

.pswp__button--share {
  background-position: -44px -44px; }

.pswp__button--fs {
  display: none; }

.pswp--supports-fs .pswp__button--fs {
  display: block; }

.pswp--fs .pswp__button--fs {
  background-position: -44px 0; }

.pswp__button--zoom {
  display: none;
  background-position: -88px 0; }

.pswp--zoom-allowed .pswp__button--zoom {
  display: block; }

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0; }

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden; }

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute; }

.pswp__button--arrow--left {
  left: 0; }

.pswp__button--arrow--right {
  right: 0; }

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute; }

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px; }

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px; }

/*

	2. Share modal/popup and links

 */
.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__share-modal--hidden {
  display: none; }

.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transform: translateY(6px);
  transition: transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform; }

.pswp__share-tooltip a {
  display: block;
  padding: 8px 12px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px; }

.pswp__share-tooltip a:hover {
  text-decoration: none;
  color: #000; }

.pswp__share-tooltip a:first-child {
  /* round corners on the first/last list item */
  border-radius: 2px 2px 0 0; }

.pswp__share-tooltip a:last-child {
  border-radius: 0 0 2px 2px; }

.pswp__share-modal--fade-in {
  opacity: 1; }

.pswp__share-modal--fade-in .pswp__share-tooltip {
  transform: translateY(0); }

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px; }

a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none; }

a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF; }

a.pswp__share--facebook:hover:before {
  border-bottom-color: #3E5C9A; }

a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF; }

a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D; }

a.pswp__share--download:hover {
  background: #DDD; }

/*

	3. Index indicator ("1 of X" counter)

 */
.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px; }

/*
	
	4. Caption

 */
.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px; }

.pswp__caption small {
  font-size: 11px;
  color: #BBB; }

.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC; }

.pswp__caption--empty {
  display: none; }

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
  visibility: hidden; }

/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  will-change: opacity;
  direction: ltr; }

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px; }

.pswp__preloader--active {
  opacity: 1; }

.pswp__preloader--active .pswp__preloader__icn {
  /* We use .gif in browsers that don't support CSS animation */
  background: url(preloader.gif) 0 0 no-repeat; }

.pswp--css_animation .pswp__preloader--active {
  opacity: 1; }

.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
  animation: clockwise 500ms linear infinite; }

.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite; }

.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0; }

.pswp--css_animation .pswp__preloader__cut {
  /* 
			The idea of animating inner circle is based on Polymer ("material") loading indicator 
			 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
		*/
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden; }

.pswp--css_animation .pswp__preloader__donut {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0; }

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right; } }

@keyframes clockwise {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes donut-rotate {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(-140deg); }
  100% {
    transform: rotate(0); } }

/*
	
	6. Additional styles

 */
/* root element of UI */
.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550; }

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%; }

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible; }

.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5); }

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3); }

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0; }

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0; }

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001; }

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none; }

.pswp__element--disabled {
  display: none !important; }

.pswp--minimal--dark .pswp__top-bar {
  background: none; }

.shariff {
  height: 4.5em; }
  .shariff ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .shariff ul li {
      display: inline; }
      .shariff ul li a span {
        display: inline-block;
        width: 3.5em;
        height: 3.5em;
        margin-right: 2em; }
      .shariff ul li a span.fa-facebook {
        background: #777 url("../images/logo-facebook.svg") no-repeat center center; }
        .shariff ul li a span.fa-facebook:hover {
          background-color: #4273C8; }
      .shariff ul li a span.fa-twitter {
        background: #777 url("../images/logo-twitter.svg") no-repeat center center; }
        .shariff ul li a span.fa-twitter:hover {
          background-color: #32BBF5; }

.shariff-button .share_text {
  display: none; }

/* ==========================================================================
   Helpers
   ========================================================================== */
.txt--center {
  text-align: center; }

.txt--left {
  text-align: left; }

.txt--right {
  text-align: right; }

.align--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* ==========================================================================
   Breakpoints
   ========================================================================== */
/**
 * Based on http://blackbe.lt/flexible-and-robust-media-queries-in-sass/
 * 
 * Breakpoint Variablen werden in "01_settings/_settings.scss" definiert.
 */
/* ==========================================================================
   Colors
   ========================================================================== */
/* 
   Color Variables
   ========================================================================== */
/* 
   Background Color Classes
   ========================================================================== */
.bg__l--sea-green {
  background-color: #1ABC9C; }

.bg__sea-green {
  background-color: #16A085; }

.bg__d--sea-green {
  background-color: #12806a; }

.bg__l--blue {
  background-color: #3498DB; }

.bg__blue {
  background-color: #2980B9; }

.bg__d--blue {
  background-color: #216694; }

.bg__l--navy {
  background-color: #526476; }

.bg__navy {
  background-color: #34495E; }

.bg__d--navy {
  background-color: #2C3E50; }

.bg__yellow {
  background-color: #F1C40F; }

.bg__l--yellow {
  background-color: #f7dc6f; }

.bg__d--yellow {
  background-color: #F39C12; }

.bg__orange {
  background-color: #E67E22; }

.bg__l--orange {
  background-color: #eea564; }

.bg__d--orange {
  background-color: #D35400; }

.bg__red {
  background-color: #c80028; }

.bg__l--red {
  background-color: #d33353; }

.bg__d--red {
  background-color: #C0392B; }

.bg__silver {
  background-color: #ECF0F1; }

.bg__l--silver {
  background-color: #f4f6f7; }

.bg__d--silver {
  background-color: #BDC3C7; }

.bg__grey {
  background-color: #777; }

.bg__l--grey {
  background-color: #929292; }

.bg__d--grey {
  background-color: #7F8C8D; }

.bg__black {
  background-color: #000000; }

.hud-wrapper {
  position: absolute;
  top: 0px;
  left: 0px; }

.hud-main {
  width: 480px;
  height: 320px;
  z-index: 3; }
  @media screen and (max-width: 479px) {
    .hud-main {
      width: 100%;
      height: 100%; } }
  @media screen and (max-height: 479px) {
    .hud-main {
      width: 100%;
      height: 100%; } }

.hud {
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.9);
  padding: 2em; }

.hud-logo {
  width: 100%;
  margin-bottom: .8em; }

.logo {
  margin-top: -.5em; }

.hud-menu {
  position: absolute;
  width: 50%;
  left: 50%;
  bottom: 0px; }
  @media screen and (max-width: 479px) {
    .hud-menu {
      position: static;
      width: 100%;
      left: 0; } }

.hud-menu-content {
  position: absolute;
  bottom: 1.5em; }
  @media screen and (max-width: 479px) {
    .hud-menu-content {
      position: static; } }

.hud-menu-howto-illu {
  line-height: 2em; }
  .hud-menu-howto-illu img {
    float: right;
    margin-top: .4em; }
    @media screen and (max-width: 479px) {
      .hud-menu-howto-illu img {
        float: left;
        margin: 1em 0 2em 0; } }

.hud-menu-pt .grey {
  color: #777; }

.hud-menu-pt-area {
  padding: .4em 0; }

.hud-landscape {
  display: none;
  font-size: 12px;
  line-height: 1.5em;
  color: #777;
  padding-top: 1em; }
  .hud-landscape img {
    float: left;
    margin: 0 .5em 1em 0; }

.hud-social-content {
  font-size: 12px;
  position: absolute;
  bottom: 2.5em; }

.hud-hide-main {
  position: fixed;
  width: 480px;
  height: 3.45em;
  z-index: 4; }
  @media screen and (max-width: 479px) {
    .hud-hide-main {
      width: 100%; } }
  @media screen and (max-height: 479px) {
    .hud-hide-main {
      width: 100%; } }

.hud-hide {
  float: right;
  padding: 1em;
  margin: 1em;
  line-height: 0; }

.hud-hide-bg-wrapper {
  position: relative;
  z-index: 3; }

.hud-hide-bg {
  position: absolute;
  top: -0.65em;
  right: -0.65em;
  padding: 1.2em;
  background: rgba(30, 30, 30, 0.9);
  opacity: 0; }

.hud-hide-wrapper {
  position: relative;
  top: .1em;
  z-index: 4; }

.saving {
  color: #777; }

.blinking-red {
  color: #c80028; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#getaway {
  z-index: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0; }

.getaway-fade-out {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background: white;
  z-index: 1; }

.getaway-move {
  color: #c80028;
  text-align: center;
  font-size: 16px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1; }

#gallery {
  padding-top: 3.8em; }

/*.hud-main {
  width: 480px;
  height: 320px;

  z-index: 3;

  @include mq(479px) {
    width: 100%;
    height: 320px;
  }

  @include mq(321px) {
    width: 100%;
    height: 480px;
  }
}*/
/*.grid-item-2x { // galerie-hud
  width: 480px;
  height: 320px;

  //z-index: 3;

  @include mq(479px) {
    width: 0;
    height: 0;
  }
  @include mq-h(479px) {
    width: 0;
    height: 0;
  }
}*/
.grid-item {
  width: 220px;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
  padding: 10px;
  background: #484848;
  color: #fff;
  font-size: 12px; }
  @media screen and (max-width: 481px) {
    .grid-item {
      margin-left: 10px;
      margin-top: 10px; } }

#nope {
  float: right; }

html, body {
  margin: 0;
  font-family: 'GetawaySans';
  font-size: 16px;
  line-height: 2em;
  letter-spacing: -2px;
  color: white; }

a {
  color: white;
  transition: none;
  outline: 0; }
  a.hovered {
    color: #c80028;
    transition: none; }

img {
  color: transparent; }

/* ==========================================================================
   Base
   ========================================================================== */
.main-wrapper {
  margin: 0 5%; }

.grid-wrapper {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  .grid-wrapper:before, .grid-wrapper:after {
    content: '';
    display: table; }
  .grid-wrapper:after {
    clear: both; }

body {
  background-color: white; }

/*
   Links
   ========================================================================== */
/*a {
  transition: color .4s;
  color: $base_link-color;
}

a:link,
a:visited { color: $base_link-color; }
a:hover   { color: $base_link-color--hover; }
a:active  {
  transition: color .3s;
  color: $base_link-color--hover;
}*/
.link {
  text-decoration: none; }

/*
   Paragraphs
   ========================================================================== */
p {
  max-width: none; }

.txt_p--readability {
  max-width: 32em; }

/* 
   Box
   ========================================================================== */
.box {
  display: block;
  padding: 1em;
  margin-bottom: 1em; }

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn-wrapper {
  width: 100%; }

.btn {
  text-align: center; }

.btn,
.btn:link,
.btn:visited {
  width: 14.5em;
  color: white;
  background: #484848;
  font-family: "GetawaySans";
  margin: 1em auto;
  padding: 0.88867em 1.333em;
  text-decoration: none; }

.btn:hover,
.btn:focus {
  color: white;
  cursor: pointer; }

.btn:active {
  color: white; }

.header-navi {
  text-align: justify;
  margin: 0 auto; }
  .header-navi ul, .header-navi li {
    margin: 0;
    padding: 0; }

.filler {
  width: 100%;
  display: inline-block;
  height: 0px; }

.menu__footer {
  color: #6ab0de;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%; }
  .menu__footer:before, .menu__footer:after {
    content: '';
    display: table; }
  .menu__footer:after {
    clear: both; }
  .menu__footer a {
    color: #94c6e7; }
    .menu__footer a:hover {
      color: #e7f2fa; }
  @media screen and (max-width: 768px) {
    .menu__footer {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
      text-align: center; }
      .menu__footer:before, .menu__footer:after {
        content: '';
        display: table; }
      .menu__footer:after {
        clear: both; } }

.menu__footer--right {
  text-align: right; }
  @media screen and (max-width: 768px) {
    .menu__footer--right {
      text-align: center;
      margin-top: 0.42219em; } }

.menu__logo {
  text-align: justify;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 7em;
  background-color: white; }
  .menu__logo ul {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    right: 0;
    bottom: 1.15em; }
  .menu__logo li {
    padding-left: 1em; }
  @media screen and (max-width: 768px) {
    .menu__logo {
      display: none; } }

/*.logo {
	display: block;
	position: absolute;
	bottom: ($menu__logo--height/5);
	left: 0;
	img {
		height: ($menu__logo--height/5*3);
		width: auto;
	}
	@include mq($menu__logo--brakepoint){
		display: none;
	}
}*/
/* ==========================================================================
   Hero
   ========================================================================== */
.hero {
  background-color: #c80028;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"), linear-gradient(10deg, #2980B9, #c80028), no-repeat #c80028 scroll;
  background-color: #c80028;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0.33333em;
  width: 100%;
  height: 90vh;
  position: relative; }
  .hero .hero-logo img {
    height: 4em;
    margin-bottom: 1.33333em; }
  .hero .hero-inner {
    text-align: center;
    color: white;
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

/* 
   Side Image
   ========================================================================== */
.side-image__inline {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%); }

/*==========  side-image-teaser  ==========*/
.side-image-teaser__img {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  height: 18em;
  background-color: #ECF0F1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .side-image-teaser__img:before, .side-image-teaser__img:after {
    content: '';
    display: table; }
  .side-image-teaser__img:after {
    clear: both; }

.side-image-teaser__content {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: inline-axis;
  -moz-box-orient: inline-axis;
  box-orient: inline-axis;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  height: 18em;
  background-color: #f4f6f7;
  position: relative; }
  .side-image-teaser__content:before, .side-image-teaser__content:after {
    content: '';
    display: table; }
  .side-image-teaser__content:after {
    clear: both; }

/*==========  side-image-blog  ==========*/
.side-image-blog__img {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: 0%;
  height: 16em;
  background-color: #ECF0F1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .side-image-blog__img:before, .side-image-blog__img:after {
    content: '';
    display: table; }
  .side-image-blog__img:after {
    clear: both; }

.side-image-blog__content {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 66.66667%;
  margin-left: 0%;
  margin-right: 0%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: inline-axis;
  -moz-box-orient: inline-axis;
  box-orient: inline-axis;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  height: 16em;
  background-color: white;
  position: relative; }
  .side-image-blog__content:before, .side-image-blog__content:after {
    content: '';
    display: table; }
  .side-image-blog__content:after {
    clear: both; }

/* ==========================================================================
   Projects-Grid
   ========================================================================== */
/**
 * Snippet für Bilder-Raster mit Hover-Überblendung, das aus Unterseiten generiert wird.
 * Verwendung:
 * In projects-grid.php Namen der Seite angeben, deren Unterseiten fuer
 * das Generieren des Rasters benutzt werden sollen
 * 
 * Anmerkung:
 * 
 */
.projects-grid__project {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  margin-bottom: 1em;
  padding: 0;
  line-height: 0; }
  .projects-grid__project:before, .projects-grid__project:after {
    content: '';
    display: table; }
  .projects-grid__project:after {
    clear: both; }
  .projects-grid__project:nth-child(5n) {
    margin-right: 0%;
    float: right; }
  .projects-grid__project:nth-child(5n + 1) {
    clear: both; }
  @media screen and (max-width: 1280px) {
    .projects-grid__project {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 22.75%;
      margin-left: 0%;
      margin-right: 3%; }
      .projects-grid__project:before, .projects-grid__project:after {
        content: '';
        display: table; }
      .projects-grid__project:after {
        clear: both; }
      .projects-grid__project:nth-child(5n) {
        margin-right: 3%;
        float: left; }
      .projects-grid__project:nth-child(5n + 1) {
        clear: none; }
      .projects-grid__project:nth-child(4n) {
        margin-right: 0%;
        float: right; }
      .projects-grid__project:nth-child(4n + 1) {
        clear: both; } }
  @media screen and (max-width: 768px) {
    .projects-grid__project {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 31.33333%;
      margin-left: 0%;
      margin-right: 3%; }
      .projects-grid__project:before, .projects-grid__project:after {
        content: '';
        display: table; }
      .projects-grid__project:after {
        clear: both; }
      .projects-grid__project:nth-child(4n) {
        margin-right: 3%;
        float: left; }
      .projects-grid__project:nth-child(4n + 1) {
        clear: none; }
      .projects-grid__project:nth-child(3n) {
        margin-right: 0%;
        float: right; }
      .projects-grid__project:nth-child(3n + 1) {
        clear: both; } }
  @media screen and (max-width: 568px) {
    .projects-grid__project {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 48.5%;
      margin-left: 0%;
      margin-right: 3%; }
      .projects-grid__project:before, .projects-grid__project:after {
        content: '';
        display: table; }
      .projects-grid__project:after {
        clear: both; }
      .projects-grid__project:nth-child(3n) {
        margin-right: 3%;
        float: left; }
      .projects-grid__project:nth-child(3n + 1) {
        clear: none; }
      .projects-grid__project:nth-child(2n) {
        margin-right: 0%;
        float: right; }
      .projects-grid__project:nth-child(2n + 1) {
        clear: both; } }
  @media screen and (max-width: 320px) {
    .projects-grid__project {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%; }
      .projects-grid__project:before, .projects-grid__project:after {
        content: '';
        display: table; }
      .projects-grid__project:after {
        clear: both; }
      .projects-grid__project:last-child {
        margin-right: 0%; } }
  .projects-grid__project img {
    width: 100%;
    height: auto; }
  .projects-grid__project:hover .projects-grid__project__overlay {
    opacity: 1; }

.projects-grid__project__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 255, 0, 0.7);
  opacity: 0;
  transition: opacity 0.25s ease; }

.projects-grid__project__overlay__text {
  width: 100%;
  position: absolute;
  top: 50%;
  height: 30px;
  margin-top: -15px;
  text-align: center; }

/* ==========================================================================
   Layout
   ========================================================================== */
.row {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%; }
  .row:before, .row:after {
    content: '';
    display: table; }
  .row:after {
    clear: both; }
  .row:last-child {
    margin-right: 0%; }

footer {
  position: absolute;
  left: 0;
  z-index: 1; }

/* ==========================================================================
   Styleguide
   ========================================================================== */
.sg--color {
  width: 5em;
  height: 5em;
  font-size: 0.8em;
  text-align: center;
  color: white;
  padding: 0.5em;
  margin-top: 1em;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 14.16667%;
  margin-left: 0%;
  margin-right: 3%; }
  .sg--color:before, .sg--color:after {
    content: '';
    display: table; }
  .sg--color:after {
    clear: both; }
  .sg--color:nth-child(6n) {
    margin-right: 0%;
    float: right; }
  .sg--color:nth-child(6n + 1) {
    clear: both; }

/* ==========================================================================
   Shame
   ========================================================================== */
