/* 
   Box
   ========================================================================== */

// box
//
//   
// markup:
// <div class="box bg__l--silver">Lorem ipsum</div>
// 
// Styleguide 6.1
// 

.box {
  display: block;
  padding: emRhythm(3);
  margin-bottom: emRhythm(3);
}
