//
// Modules
// 
// Styleguide 6.0
// 

/* ==========================================================================
   Buttons
   ========================================================================== */

//
// Buttons - Default
// 
// Buttons passen sich automatisch an die base-font-size an.
// 
// markup:
// <a href="#" class="btn">Button Default</a>
// 
// 
// Styleguide 6.2.0
// 


.btn-wrapper {
  width: 100%;
}

.btn {
  text-align: center;
}



// Default Variables
$btn_color: white;
$btn_color--hover: white;
$btn_color--active: white;
$btn_font: 'GetawaySans';


.btn,
.btn:link,
.btn:visited {
  width: 14.5em;
  color: $btn_color;
  background: #484848;
  //display: inline-block;
  font-family: $btn_font;
  margin: 1em auto;
  //margin-bottom: emRhythm(3, $ms-down1);
  padding: emRhythm(2, $ms-down1) emRhythm(3, $ms-down1);
  //letter-spacing: .15em;
  text-decoration: none; 
  //text-transform: uppercase;
  //transition: color .4s, background-color .4s, border .4s;
}

.btn:hover,
.btn:focus { 
  color: $btn_color--hover; 
  //border: $btn_border-width solid $btn_color--hover; 
  //transition: background-color .3s, color .3s, border .3s;
  cursor: pointer;
}

.btn:active { 
  color: $btn_color--active; 
  //border: $btn_border-width solid $btn_color--active; 
  //transition: background-color .3s, color .3s, border .3s;
}



