/* ==========================================================================
   Hero
   ========================================================================== */


// Hero 
// 
// Der Hero kann für große Teaserbilder, z.B. auf HOME eingesezt werden. 
// 
// markup:
//<div class="hero">
// 	<div class="hero-inner">
//     <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
// " alt="Logo Image"></a>
// 		<div class="hero-copy txt--center">
// 			<h2 class="h1">Short description of Product</h2>
// 			<p class="txt--center">A few reasons why this product is worth using, who it's for and why they need it.</p>	
// 		</div>
//     <a href="#" class="btn btn--gray-border">Produkt anschauen</a>
// 	</div>
// </div>
// 
// Styleguide 6.3
// 

// variables 
// 

$hero--background-top    : $red !default;
$hero--background-bottom : $blue !default;
$hero--color             : white !default;
$gradient--angle         : 10deg !default;
$hero--image             : 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png' !default;
$hero--height            : 90vh !default;
$hero--width             : 100% !default;



.hero {  
  @include background(url($hero--image), linear-gradient($gradient--angle, $hero--background-bottom, $hero--background-top), no-repeat $hero--background-top scroll);
  background-color: $hero--background-top;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: emRhythm(1);
  width: $hero--width;
  height: $hero--height;
  position: relative;
  .hero-logo img {
    height: 4em;
    margin-bottom: emRhythm(4);
  }

  .hero-inner {
		text-align: center;
    color: $hero--color;
    width: 50%;
	  height: 50%;
	  margin: auto;
	  position: absolute;
	  top: 0; left: 0; bottom: 0; right: 0;
	}
}
