// Menu über komplette Breite
// 
// ul-/li-Menu, das die ganze verfuegbare Breite einnimmt
// 
// markup:
// <div class="header-navi">
//   <ul class="list-inline">
//     <li><a class="link" href="#">Eins</a></li>
//     <li><a class="link" href="#">Zwei</a></li>
//     <li><a class="link" href="#">Drei</a></li>
//     <li><a class="link" href="#">Vier</a></li>
//     <li class="filler"></li>
//   </ul>
// </div>
// 
// Styleguide 6.4

.header-navi {
  text-align: justify;
  margin: 0 auto;
  //max-width: emRhythm(96em);

  ul, li {
    margin: 0;
    padding: 0;
  }

}

.filler {
  width: 100%;
  display: inline-block;
  height: 0px;
}






// Menu Footer
// 
// Simples Menü im Footer. Beinhlatet Seitentitel und Link zum Impressum. 
// 
// markup:
// <div class="bg__d--blue  pt pb row">
//  <div class="main-wrapper">
//    <div class="grid-wrapper">
//      <nav class="menu__footer menu__footer--left">
//        <ul class="list-inline">
//          <li><a href="" class="link">Kiosk Framework</a> | </li>
//          <li><a href="/impressum" class="link">Impressum</a></li>
//        </ul>
//      </nav>
//      <nav class="menu__footer menu__footer--right">
//        <ul class="list-inline">
//          <li>Powered by <a href="#" class="link">KIOSK</a></li>
//        </ul>
//      </nav>
//    </div>
//  </div>
// </div>
// 
// Styleguide 6.6


.menu__footer {
  color: lighten($blue, 20%);
  @include span(1/2);
  a {
    color: lighten($blue, 30%);
    &:hover {
      color: lighten($blue, 50%);
    }
  }
  @include mq($medium){
    @include span(2/2);
    text-align: center;
  }
}

.menu__footer--right {
  text-align: right;
  @include mq($medium){
    text-align: center;
    margin-top: $ms-down3;
  }
}