// Menu Responsive
// 
// Responsives Menü, welches auf Slicknav basiert. Mit integriertem Logo. Die Höhe des menüs und des Logos lässt sich an hand einer Variable definieren.
// 
// markup:
// <nav class="menu__logo">
//   <a href="/" class="logo">
//     <img src="assets/images/logo.svg" alt="Logo">
//   </a>
//   <ul class="list-inline txt--right">
//     <li><a class="link" href="#">Eins</a></li>
//     <li><a class="link" href="#">Zwei</a></li>
//     <li><a class="link" href="#">Drei</a></li>
//     <li><a class="link" href="#">Vier</a></li>
//   </ul>
// </nav>
// 
// Styleguide 6.5
// 


// Variables

// Definiert die Höhe des gesammten Menüs
$menu__logo--bg-color: shade($base-body-bg, 20%)!default;
$menu__logo--height: 7em!default;


//Brakepoint zum ausblenden des menüs in der mobilen Ansicht.
$menu__logo--brakepoint: $medium!default;






.menu__logo {
	text-align: justify;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: $menu__logo--height;
  background-color: $menu__logo--bg-color;
  ul {
		margin: 0;
		padding: 0;
		display: block;
		position: absolute;
		right: 0;
		// Positioniert das Menü auf Unterkante des Logos
		bottom: ($menu__logo--height/5 - 0.25em);
  }
  li {
  	padding-left: 1em;
  }
  // Blendet das Standardmenü in der mobilen Ansicht aus.
  @include mq($menu__logo--brakepoint){
  	display: none;
  }
}

/*.logo {
	display: block;
	position: absolute;
	bottom: ($menu__logo--height/5);
	left: 0;
	img {
		height: ($menu__logo--height/5*3);
		width: auto;
	}
	@include mq($menu__logo--brakepoint){
		display: none;
	}
}*/
