/* ==========================================================================
   Projects-Grid
   ========================================================================== */
/**
 * Snippet für Bilder-Raster mit Hover-Überblendung, das aus Unterseiten generiert wird.
 * Verwendung:
 * In projects-grid.php Namen der Seite angeben, deren Unterseiten fuer
 * das Generieren des Rasters benutzt werden sollen
 * 
 * Anmerkung:
 * 
 */






.projects-grid {
}

.projects-grid__project {
  @include col(1/5, $cycle: 5);
	
	position: relative;
  margin-bottom: 1em;
	padding: 0;
	line-height: 0; // sonst ist das div groesser als das bild

  @include mq($large) {
    @include col(1/4, $uncycle: 5, $cycle: 4);
  }

  @include mq($medium) {
    @include col(1/3, $uncycle: 4, $cycle: 3);
  }

  @include mq($small) {
    @include col(1/2, $uncycle: 3, $cycle: 2);
  }

  @include mq($xsmall) {
    @include col(1/1);
  }

	img {
		width: 100%;
		height: auto;
	}

  &:hover .projects-grid__project__overlay {
		opacity: 1;
	}
}

.projects-grid__project__overlay {
  position: absolute;
  top: 0px;
  left: 0px;

	width: 100%;
	height: 100%;

	background: rgba(0, 255, 0, .7);
	opacity: 0;
	@include transition(opacity 0.25s ease);
}

.projects-grid__project__overlay__text {
  width: 100%;
  position: absolute;
  top: 50%;
  height: 30px;
  margin-top: -15px;

  text-align: center;
}