/* 
   Side Image
   ========================================================================== */

// Side Image 
//
// Bild neben einem zentrierten Textblock. Das verhältnis der Breite von Text zu Bild lässt sich über Jeet columns steuern. 
//
// markup: 
// <div class="side-image-teaser__img" style="background-image: url('https://placekitten.com/g/700/700');">
// </div>
// <div class="side-image-teaser__content">
// 	<div class="side-image__inline">
// 		<h3>testheadline</h3>
// 		<p>Mauris vehicula nibh non enim.Nulla facilisi. Nullam tempor lacus.</p>
// 	</div>
// </div>
//
// Styleguide 6.7

@mixin side-image__img(
	$side-image__img--span: 1/2,
	$side-image__img--height: 18em, 
	$side-image__img--bg: $l--silver ){
		@include span($side-image__img--span);
		height: $side-image__img--height;
		background-color: $silver;
		background-repeat: no-repeat; 
	  background-size: cover;
	  background-position: center;
}

@mixin side-image__content( 
	$side-image__content--span: 1/2, 
	$side-image--height: 18em,
	$side-image__content--bg: $l--silver ) {
		@include span($side-image__content--span);
		@include box;
		height: $side-image--height;
		background-color: $side-image__content--bg;
		position: relative;
}

.side-image__inline {
	position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
}


/*==========  side-image-teaser  ==========*/

.side-image-teaser__img {
	@include side-image__img();
}

.side-image-teaser__content {
	@include side-image__content();
}

/*==========  side-image-blog  ==========*/

// Side Image Blog
//
// Kleineres Bild neben breiterer Textfläche. 
//
// markup: 
// <div class="side-image-blog__img mb" style="background-image: url('https://placekitten.com/g/700/700');">
// </div>
// <div class="side-image-blog__content mb">
// 	<div class="p+">
// 		<h3>testheadline</h3>
// 		<p>Mauris vehicula nibh non enim.Nulla facilisi. Nullam tempor lacus.  		<a href="#" > Weiter lesen </a></p>
// 	</div>
// </div>
// <div class="side-image-blog__img mb" style="background-image: url('https://placekitten.com/g/700/700');">
// </div>
// <div class="side-image-blog__content mb">
// 	<div class="p+">
// 		<h3>testheadline</h3>
// 		<p>Mauris vehicula nibh non enim.Nulla facilisi. Nullam tempor lacus.  		<a href="#" > Weiter lesen </a></p>
// 	</div>
// </div>
//
// Styleguide 6.7.1

.side-image-blog__img {
	@include side-image__img(1/3, 16em, $silver);
}
.side-image-blog__content {
	@include side-image__content(2/3, 16em, white);
}
