/* ==========================================================================
   Styleguide
   ========================================================================== */
		
// Only Styleguide specific Styles


// Helper for displaying colors in the styleguide
.sg--color {
  width: 5em;
  height: 5em;
  font-size: 0.8em;
  text-align: center;
  color: white;
  padding: 0.5em;
  margin-top: 1em;
  @include col(1/6, $cycle: 6);
}