/* ==========================================================================
   Settings
   ========================================================================== */


// Settings
//
// Hier werden die gobalen Variablen definiert. Sie sollten als erstes
// importiert werden.
// Die hier definierten variablen können Variablen in importierten Plugins ersetzen,
// sofern diese mit "!default" versehen wurden.
// Siehe dazu auch: http://sass-guidelin.es/#!default-flag
//
// markup:
//
// Styleguide 1.0





$grey: #777;

/*
   Breakpoints
   ========================================================================== */

$xlarge    : 1440px;
$large     : 1280px;
$medium    : 768px;
$small     : 568px;
$xsmall    : 320px;







/*
   Typesettings
   ========================================================================== */
$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: Georgia, 'Times New Roman', serif;
$font-mono: 'Lucida Console', Monaco, monospace;
$text-color: #0D0D0D;
$base-vertical-unit: 6px;
$base-line-multi: 4;
$base-font-size: 18px;
$ms-ratio: 1.333; // 3:4 Perfect fourth
$paragraph-indent: true;
$paragraph-justify: true;
$load-typesetted: false;





/*
   Colors
   ========================================================================== */





/*
   Inuitcss
   ========================================================================== */
// Fonts
$inuit-base-font-size:          $base-font-size;
$inuit-base-line-height:        $base-vertical-unit * $base-line-multi;
$inuit-base-text-color:         $text-color;

// Spacing
$inuit-enable-margins:                  true;
$inuit-enable-margins--tiny:            true;
$inuit-enable-margins--small:           true;
$inuit-enable-margins--large:           true;
$inuit-enable-margins--huge:            true;

$inuit-enable-margins--negative:        true;
$inuit-enable-margins--negative-tiny:   true;
$inuit-enable-margins--negative-small:  true;
$inuit-enable-margins--negative-large:  true;
$inuit-enable-margins--negative-huge:   true;

$inuit-enable-margins--none:            true;

$inuit-enable-paddings:                 true;
$inuit-enable-paddings--tiny:           true;
$inuit-enable-paddings--small:          true;
$inuit-enable-paddings--large:          true;
$inuit-enable-paddings--huge:           true;

$inuit-enable-paddings--none:           true;
