/* ==========================================================================
   Breakpoints
   ========================================================================== */
/**
 * Based on http://blackbe.lt/flexible-and-robust-media-queries-in-sass/
 * 
 * Breakpoint Variablen werden in "01_settings/_settings.scss" definiert.
 */


// mq()
// 
// markup:
// @include mq($large) {
//     // style
// }
// 
// Styleguide 4.1

@mixin mq($media) {
    @if $media == webkit {
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
            @content;
        }
    }
 
    @else if $media == retina {
        @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            @content;
        }
    }
 
    @else {
        @media screen and (max-width: $media) {
            @content;
        }
    }
}
 
@mixin mq-min($px) {
    @media screen and (min-width: $px) {
        @content;
    }
}
 
@mixin mq-h($px) {
    @media screen and (max-height: $px) {
        @content;
    }
}
 
@mixin mq-h-min($px) {
    @media screen and (min-height: $px) {
        @content;
    }
}