/* ==========================================================================
   Helpers
   ========================================================================== */

// Helpers
//
// Styleguide 4.0

// txt--center
// 
// markup:
// <div class="txt--center">Lorem ipsum</div>
// 
// Styleguide 4.2.1

.txt--center {
	text-align: center;
}

// txt--left
// 
// markup:
// <div class="txt--left">Lorem ipsum</div>
// 
// Styleguide 4.2.2

.txt--left {
	text-align: left;
}

// txt--right
// 
// markup:
// <div class="txt--right">Lorem ipsum</div>
// 
// Styleguide 4.2.3

.txt--right {
	text-align: right;
}


// Align Center
// 
// Zentriert ein div horizontal und vertikal in einem parent div mit position: relative.
// 
// markup:
// <div class="bg__silver" style="width: 100%; height: 10em;">
// 	<div class="align--center">Das steht in der Mitte</div>
// </div>
// 
// Styleguide 4.3

.align--center {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}