html, body {
  margin: 0;

  font-family: 'GetawaySans';
  font-size: 16px;
  line-height: 2em;
  letter-spacing: -2px;
  color: white;
}

a {
  color: white;
  transition: none;

  outline: 0;

  &.hovered {
    color: $red;
    transition: none;
  }
}

img {
  color: transparent;
}







/* ==========================================================================
   Base
   ========================================================================== */

// Base
//
// Styleguide 5.0

// Wrapper
//
// Styleguide 5.1

// Margin Links und Rechts in der mobilen Ansicht
.main-wrapper {
  margin: 0 5%;
}

// Zentriert das Grid
.grid-wrapper {
  @include center(1440px);
}

body {
  background-color: $base-body-bg;
}

/*
   Links
   ========================================================================== */

// Links
//
// Um einen Link nicht unterstrichen darzustellen, einfach die Klasse **.link** hinzufügen.
//
// markup:
// <a href="#" title="An underlined link">underlined link</a>
// <a href="#" title="A link" class="link">simple link</a>
//
// Styleguide 5.3
//

// Variables
//
$base_link-color        : $blue !default;
$base_link-color--hover : $l--blue !default;


/*a {
  transition: color .4s;
  color: $base_link-color;
}

a:link,
a:visited { color: $base_link-color; }
a:hover   { color: $base_link-color--hover; }
a:active  {
  transition: color .3s;
  color: $base_link-color--hover;
}*/

.link { text-decoration: none; }






/*
   Paragraphs
   ========================================================================== */

// Paragraphs
//
// Paragraphs laufen per default über 100%. Eine max-width zur besseren Unterstützung der Lesbarkeit kann aber hinzugefügt werden.
//
// markup:
// <p>Praesent dapibus sapien at luctus porttitor. Quisque imperdiet sit amet nibh non faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo nibh ac ligula pellentesque, quis convallis odio laoreet. </p>
//<p>Duis in blandit neque. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Proin at pharetra magna. Vivamus turpis neque, viverra eget dui eget, laoreet auctor est. Duis ac blandit enim. Duis sit amet justo ac purus blandit sodales in eu mauris.</p><br>
// <p class="txt_p--readability">Duis in blandit neque. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Proin at pharetra magna. Vivamus turpis neque, viverra eget dui eget, laoreet auctor est. Duis ac blandit enim. Duis sit amet justo ac purus blandit sodales in eu mauris.</p>
//
// Styleguide 5.4

p { max-width: none;}

.txt_p--readability {
	max-width: emRhythm(96);
}
