/* ==========================================================================
   Colors
   ========================================================================== */


// Colors - Farben
//
// Farben sollten grundsätzlich mit einer Background-Klasse ".bg__farbname" angelegt werden.
// 
// markup:
// <div class="sg--color bg__l--sea-green">l--sea-green</div>
// <div class="sg--color bg__sea-green">sea-green</div>
// <div class="sg--color bg__d--sea-green">d--sea-green</div>
// <div class="sg--color bg__l--blue">l--blue</div>
// <div class="sg--color bg__blue">blue</div>
// <div class="sg--color bg__d--blue">d--blue</div>
// <div class="sg--color bg__l--navy">l--navy</div>
// <div class="sg--color bg__navy">navy</div>
// <div class="sg--color bg__d--navy">d--navy</div>
// <div class="sg--color bg__l--yellow">l--yellow</div>
// <div class="sg--color bg__yellow">yellow</div>
// <div class="sg--color bg__d--yellow">d--yellow</div>
// <div class="sg--color bg__l--orange">l--orange</div>
// <div class="sg--color bg__orange">orange</div>
// <div class="sg--color bg__d--orange">d--orange</div>
// <div class="sg--color bg__l--red">l--red</div>
// <div class="sg--color bg__red">red</div>
// <div class="sg--color bg__d--red">d--red</div>
// <div class="sg--color bg__l--silver">l--silver</div>
// <div class="sg--color bg__silver">silver</div>
// <div class="sg--color bg__d--silver">d--silver</div>
// <div class="sg--color bg__l--grey">l--grey</div>
// <div class="sg--color bg__grey">grey</div>
// <div class="sg--color bg__d--grey">d--grey</div>
// <div class="sg--color bg__black">black</div>
// 
// Styleguide 5.2
// 






/* 
   Color Variables
   ========================================================================== */

$sea-green    : #16A085 !default;
$l--sea-green : #1ABC9C !default;
$d--sea-green : shade(#16A085, 20%) !default;
$blue         : #2980B9 !default;
$l--blue      : #3498DB !default;
$d--blue      : shade(#2980B9, 20%) !default;
$navy         : #34495E !default;
$l--navy      : tint(#34495E, 15%) !default;
$d--navy      : #2C3E50 !default;
$yellow       : #F1C40F !default;
$l--yellow    : tint($yellow, 40%) !default;
$d--yellow    : #F39C12 !default;
$orange       : #E67E22 !default;
$l--orange    : tint(#E67E22, 30%) !default;
$d--orange    : #D35400 !default;
$red          : #c80028 !default;
$l--red       : tint($red, 20%) !default;
$d--red       : #C0392B !default;
$silver       : #ECF0F1 !default;
$l--silver    : tint($silver, 40%) !default;
$d--silver    : #BDC3C7 !default;
$grey         : #95A5A6 !default;
$l--grey      : tint($grey, 20%) !default;
$d--grey      : #7F8C8D !default;
$black 				: #000000 !default;



$base-body-bg: white!default;
$menu__logo--bg-color: $base-body-bg!default;

/* 
   Background Color Classes
   ========================================================================== */

.bg__l--sea-green {
	background-color: $l--sea-green;
}
.bg__sea-green  {
	background-color: $sea-green;
}
.bg__d--sea-green  {
	background-color: $d--sea-green;
}
.bg__l--blue {
	background-color: $l--blue;
}
.bg__blue {
	background-color: $blue;
}
.bg__d--blue {
	background-color: $d--blue;
}
.bg__l--navy {
	background-color: $l--navy;
}
.bg__navy {
	background-color: $navy;
}
.bg__d--navy {
	background-color: $d--navy;
}
.bg__yellow {
	background-color: $yellow;
}
.bg__l--yellow {
	background-color: $l--yellow;
}
.bg__d--yellow {
	background-color: $d--yellow;
}
.bg__orange {
	background-color: $orange;
}
.bg__l--orange {
	background-color: $l--orange;
}
.bg__d--orange {
	background-color: $d--orange;
}
.bg__red {
	background-color: $red;
}
.bg__l--red {
	background-color: $l--red;
}
.bg__d--red {
	background-color: $d--red;
}
.bg__silver {
	background-color: $silver;
}
.bg__l--silver {
	background-color: $l--silver;
}
.bg__d--silver {
	background-color: $d--silver;
}
.bg__grey {
	background-color: $grey;
}
.bg__l--grey {
	background-color: $l--grey;
}
.bg__d--grey {
	background-color: $d--grey;
}
.bg__black {
	background-color: $black;
}