#gallery {
  padding-top: 3.8em;
}

// korrekturen hud in gallery
/*.hud-main {
  width: 480px;
  height: 320px;

  z-index: 3;

  @include mq(479px) {
    width: 100%;
    height: 320px;
  }

  @include mq(321px) {
    width: 100%;
    height: 480px;
  }
}*/


/*.grid-item-2x { // galerie-hud
  width: 480px;
  height: 320px;

  //z-index: 3;

  @include mq(479px) {
    width: 0;
    height: 0;
  }
  @include mq-h(479px) {
    width: 0;
    height: 0;
  }
}*/

.grid-item {
  width: 220px;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
  padding: 10px;

  background: #484848;
  color: #fff;

  font-size: 12px;

  @include mq(481px) {
    margin-left: 10px;
    margin-top: 10px;
  }
}

#nope {
  //right: 10px;
  //position: absolute;
  //color: $red;
  float: right;
}
