html, body {
  width:  100%;
  height: 100%;
  overflow: hidden;
}

#getaway {
  z-index: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.getaway-fade-out {
  display:none;

  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;

  background: white;

  z-index: 1;
}

.getaway-move {
  color: $red;
  text-align: center;
  font-size: 16px;
  position: absolute;

  top: 50%;
  width: 100%;
  //display:none;

  //display: block;

  //width: 100%;
  //height: 100%;
  //margin: 0;

  z-index: 1;

}
