.hud-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;

  //background: rgba(255, 255, 255, 0.8);
}

.hud-main {
  width: 480px;
  height: 320px;

  z-index: 3;

  @include mq(479px) {
    width: 100%;
    height: 100%;
  }
  @include mq-h(479px) {
    width: 100%;
    height: 100%;
  }
}

.hud {
  width: 100%;
  height: 100%;

  background: rgba(29, 29, 29, 0.9);
  padding: 2em;
}

.hud-logo {
  width: 100%;
  margin-bottom: .8em;
}

.logo {
  margin-top: -.5em;
}

.hud-menu {
  position: absolute;
  width: 50%;

  left: 50%;
  bottom: 0px;

  @include mq(479px) {
    position: static;
    width: 100%;
    left: 0;
  }
}

.hud-menu-content {
  position: absolute;
  bottom: 1.5em;

  @include mq(479px) {
    position: static;
  }
}

.hud-menu-howto-illu {
  //margin: 2em 0;

  line-height: 2em;

  img {
    float: right;
    //margin-right: 1em;
    margin-top: .4em;

    @include mq(479px) {
      float: left;
      margin: 1em 0 2em 0;
    }
  }
}

.hud-menu-pt .grey {
  color: $grey;
}


.hud-menu-pt-area {
  padding: .4em 0;
}

.hud-landscape {
  display: none;

  font-size: 12px;
  line-height: 1.5em;
  color: $grey;
  padding-top: 1em;

  img {
    float: left;
    margin: 0 .5em 1em 0;
  }
}

.hud-social {
  //bottom: 1.5em;
}

.hud-social-content {
  font-size: 12px;
  position: absolute;
  bottom: 2.5em;
}

.hud-hide-main {
  position: fixed;
  width: 480px;
  height: 3.45em;
  z-index: 4;

  @include mq(479px) {
    width: 100%;
  }
  @include mq-h(479px) {
    width: 100%;
  }
}

.hud-hide {
  float: right;

  padding: 1em;
  margin: 1em;
  line-height: 0;
}

.hud-hide-bg-wrapper {
  position: relative;
  z-index: 3;
}

.hud-hide-bg {
  position: absolute;
  top: -0.65em;
  right: -0.65em;
  padding: 1.2em;

  background: rgba(30, 30, 30, 0.9);
  opacity: 0;
  //background: rgba(255, 0, 0, 0.5);
}

.hud-hide-wrapper {
  position: relative;
  top: .1em;
  //right: .3em;
  z-index: 4;
}

a.hvr {
  //display: block;
  //padding: 0.6em 0;
  //margin-top: 1.2em;
  //line-height: 0;
}

// fuer blinkende dinge
.saving {
  color: $grey;
}

.blinking-red {
  color: $red;
}

.gallery-thumb {
  //max-height: 150px;
  //max-width: 240px;

  img {
    //max-height: 150px;
    //max-width: 240px;
  }
}
