@font-face {
  font-family: 'GetawaySans';
  src: url('GetawaySans.eot');
  src: url('GetawaySans.eot?#iefix') format('embedded-opentype'),
       url('GetawaySans.woff2') format('woff2'),
       url('GetawaySans.woff') format('woff'),
       url('GetawaySans.ttf') format('truetype'),
       url('GetawaySans.svg#GetawaySans') format('svg');
  font-weight: normal;
  font-style: normal;
}
